body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    background: url('imagenes/carrusel1.jpg') no-repeat center center;
    background-size: cover; 
    color: white; 
    padding: 100px 0;
}


.footer-custom {
    background-color: #343a40;
}

.card img {
    height: 200px;
    object-fit: cover;
}
