
.card img:hover {
    filter: brightness(0.8);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay oscuro */
    z-index: 1;
}
.hero h1, .hero p {
    position: relative;
    z-index: 2;
}

.btn-primary {
    background-color: #f7c1c1; /* color acorde a la marca */
    border: none;
    border-radius: 50px;
}

.footer-custom a:hover {
    color: #f7c1c1;
    transform: scale(1.2);
    transition: transform 0.2s;
}
